.box{
    height:100px;
    width: 100px;
    border: 1px black solid;
    display: inline-block;
    margin: -2px;
}
.colorBox{
    height:100px;
    width:100px;
    border:1px black solid;
}
.blue{
    background-color: blue;

}
.red{
    background-color: red;

}